{% set stickyFooter = widget.settings.stickyFooter.mobile %}

{% set backgroundColor = widget.settings.backgroundColor.mobile %}
{% set visibleFromOffset = widget.settings.visibleFromOffset.mobile %}

{% if visibleFromOffset is not empty %}
    {% if isPreview %}
            <div>
                <div class="my-4" data-builder-child-container=first">{{ children.first | raw }}</div>
            </div>
    {% else %}
        <sticky-footer :visible-from-offset="{{ visibleFromOffset|json_encode }}">
            <div class="my-4" data-builder-child-container="first">{{ children.first | raw }}</div>
        </sticky-footer>
    {% endif %}
{% else %}
    <p>Bitte StickyFooter Widget Einstellungen kontrollieren.</p>
{% endif %}
