{% set visibleFromOffset = widget.settings.offsets.visibleFromOffset.mobile %}

{% if visibleFromOffset is not empty %}
    {% if isPreview %}
        <div class="widget-inner">
            <div data-builder-child-container="stickyFooterContainer">
                {{ children.stickyFooterContainer | raw }}
            </div>
        </div>
    {% else %}
        <sticky-footer id="sticky-widget" :visible-from-offset="{{ visibleFromOffset|json_encode }}">
            <div data-builder-child-container="stickyFooterContainer">{{ children.stickyFooterContainer | raw }}</div>
        </sticky-footer>
    {% endif %}
{% else %}
    <p>Bitte StickyFooter Widget Einstellungen kontrollieren.</p>
{% endif %}
